/*  your css code here. If applicable */
body, html {
    margin: 0;
    height: 100%;
}

.app {
    height: 100vh;
    position: relative;
}

.vid-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.time-select button,
.sound-picker button,
.play {
    cursor: pointer;
}

.time-display {
    font-size: 32px;
}


